# Automatically normalize line endings
* text=auto

# Explicitly treat certain files as binary to prevent diffs
*.jpg binary
*.png binary
*.gif binary
*.pdf binary

# Treat markdown files as text
*.md text

# Force LF line endings for shell scripts
*.sh text eol=lf

# Specify how diffs should be handled for specific file types
*.json diff=json
*.xml diff=xml
*.js diff=js